In [20]:
# Data Management
import pandas as pd
import numpy as np
# from pandas_datareader.data import DataReader
# from ta import  add_all_ta_features


# Statistics
from statsmodels.tsa.stattools import adfuller

# Data Preproccessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Supervised Machine Learning
from sklearn.model_selection import train_test_split as sk_learn_train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import RandomForestRegressor

# Graphing
import matplotlib.pyplot as plt

## Data Ingestions

In [21]:
df = pd.read_csv("SydneyHousePrices.csv")


print(f"Length of data: {len(df)}" )
df

Length of data: 199504

,Date,Id,suburb,postalCode,sellPrice,bed,bath,car,propType
0,2019-06-19,1,Avalon Beach,2107,1210000,4.0,2,2.0,house
1,2019-06-13,2,Avalon Beach,2107,2250000,4.0,3,4.0,house
2,2019-06-07,3,Whale Beach,2107,2920000,3.0,3,2.0,house
3,2019-05-28,4,Avalon Beach,2107,1530000,3.0,1,2.0,house
4,2019-05-22,5,Whale Beach,2107,8000000,5.0,4,4.0,house
...,...,...,...,...,...,...,...,...,...
199499,2014-06-20,199500,Illawong,2234,1900000,5.0,3,7.0,house
199500,2014-05-26,199501,Illawong,2234,980000,4.0,3,2.0,house
199501,2014-04-17,199502,Alfords Point,2234,850000,4.0,2,2.0,house
199502,2013-09-07,199503,Illawong,2234,640000,3.0,2,2.0,townhouse
199503,2011-04-16,199504,Alfords Point,2234,1611000,5.0,4,3.0,house

In [22]:
# Interpertate Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199504 entries, 0 to 199503
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date        199504 non-null  object
 1   Id          199504 non-null  int64
 2   suburb      199504 non-null  object
 3   postalCode  199504 non-null  int64
 4   sellPrice   199504 non-null  int64
 5   bed         199350 non-null  float64
 6   bath        199504 non-null  int64
 7   car         181353 non-null  float64
 8   propType    199504 non-null  object
dtypes: float64(2), int64(4), object(3)
memory usage: 13.7+ MB

# Feature Engineering

##### handle Non-Numerical Data

- Label Encoding
    - assigning each worded item in a column into a number that the ml algo can comprehend

- OneHot Encoding
    - get all unique values then make a chart of 0's and 1's wherever it showed

In [23]:
# unique suburbs
suburbs_test_unique = df["suburb"].unique()

print("Unique Suburbs Length: " , len(suburbs_test_unique))
print("Preform Label Encoding")

# Label Encoding
labelencoder = LabelEncoder()
encoded_suburbs = labelencoder.fit_transform(df["suburb"])
df["suburbs_encoded"] = encoded_suburbs



all_codes = pd.unique(df["suburbs_encoded"])

for x in range(len(all_codes[-10:])):
    print(suburbs_test_unique[x] , all_codes[x])
df

Unique Suburbs Length:  685
Preform Label Encoding
Avalon Beach 22
Whale Beach 654
Bilgola Plateau 67
Clareville 148
Bilgola Beach 66
Blacktown 71
Marayong 390
Kings Park 335
Prospect 517
Matraville 398

,Date,Id,suburb,postalCode,sellPrice,bed,bath,car,propType,suburbs_encoded
0,2019-06-19,1,Avalon Beach,2107,1210000,4.0,2,2.0,house,22
1,2019-06-13,2,Avalon Beach,2107,2250000,4.0,3,4.0,house,22
2,2019-06-07,3,Whale Beach,2107,2920000,3.0,3,2.0,house,654
3,2019-05-28,4,Avalon Beach,2107,1530000,3.0,1,2.0,house,22
4,2019-05-22,5,Whale Beach,2107,8000000,5.0,4,4.0,house,654
...,...,...,...,...,...,...,...,...,...,...
199499,2014-06-20,199500,Illawong,2234,1900000,5.0,3,7.0,house,318
199500,2014-05-26,199501,Illawong,2234,980000,4.0,3,2.0,house,318
199501,2014-04-17,199502,Alfords Point,2234,850000,4.0,2,2.0,house,5
199502,2013-09-07,199503,Illawong,2234,640000,3.0,2,2.0,townhouse,318
199503,2011-04-16,199504,Alfords Point,2234,1611000,5.0,4,3.0,house,5

In [24]:
# Property Type
suburbs_test_unique = df["propType"].unique()

print("Unique Property Types Length: " , len(suburbs_test_unique))
print("Preform OneHot Encoding")


# OneHot Encoding
onehot_encoded = pd.get_dummies(df["propType"], prefix="pt", drop_first=True)
df = df.join(onehot_encoded)

df

Unique Property Types Length:  8
Preform OneHot Encoding

,Date,Id,suburb,postalCode,sellPrice,bed,bath,car,propType,suburbs_encoded,pt_duplex/semi-detached,pt_house,pt_other,pt_terrace,pt_townhouse,pt_villa,pt_warehouse
0,2019-06-19,1,Avalon Beach,2107,1210000,4.0,2,2.0,house,22,0,1,0,0,0,0,0
1,2019-06-13,2,Avalon Beach,2107,2250000,4.0,3,4.0,house,22,0,1,0,0,0,0,0
2,2019-06-07,3,Whale Beach,2107,2920000,3.0,3,2.0,house,654,0,1,0,0,0,0,0
3,2019-05-28,4,Avalon Beach,2107,1530000,3.0,1,2.0,house,22,0,1,0,0,0,0,0
4,2019-05-22,5,Whale Beach,2107,8000000,5.0,4,4.0,house,654,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199499,2014-06-20,199500,Illawong,2234,1900000,5.0,3,7.0,house,318,0,1,0,0,0,0,0
199500,2014-05-26,199501,Illawong,2234,980000,4.0,3,2.0,house,318,0,1,0,0,0,0,0
199501,2014-04-17,199502,Alfords Point,2234,850000,4.0,2,2.0,house,5,0,1,0,0,0,0,0
199502,2013-09-07,199503,Illawong,2234,640000,3.0,2,2.0,townhouse,318,0,0,0,0,1,0,0
199503,2011-04-16,199504,Alfords Point,2234,1611000,5.0,4,3.0,house,5,0,1,0,0,0,0,0

## Set Target
- Targets are what the computer should predict

In [25]:
# setting target
df["TARGET"] = df["sellPrice"]

df

,Date,Id,suburb,postalCode,sellPrice,bed,bath,car,propType,suburbs_encoded,pt_duplex/semi-detached,pt_house,pt_other,pt_terrace,pt_townhouse,pt_villa,pt_warehouse,TARGET
0,2019-06-19,1,Avalon Beach,2107,1210000,4.0,2,2.0,house,22,0,1,0,0,0,0,0,1210000
1,2019-06-13,2,Avalon Beach,2107,2250000,4.0,3,4.0,house,22,0,1,0,0,0,0,0,2250000
2,2019-06-07,3,Whale Beach,2107,2920000,3.0,3,2.0,house,654,0,1,0,0,0,0,0,2920000
3,2019-05-28,4,Avalon Beach,2107,1530000,3.0,1,2.0,house,22,0,1,0,0,0,0,0,1530000
4,2019-05-22,5,Whale Beach,2107,8000000,5.0,4,4.0,house,654,0,1,0,0,0,0,0,8000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199499,2014-06-20,199500,Illawong,2234,1900000,5.0,3,7.0,house,318,0,1,0,0,0,0,0,1900000
199500,2014-05-26,199501,Illawong,2234,980000,4.0,3,2.0,house,318,0,1,0,0,0,0,0,980000
199501,2014-04-17,199502,Alfords Point,2234,850000,4.0,2,2.0,house,5,0,1,0,0,0,0,0,850000
199502,2013-09-07,199503,Illawong,2234,640000,3.0,2,2.0,townhouse,318,0,0,0,0,1,0,0,640000
199503,2011-04-16,199504,Alfords Point,2234,1611000,5.0,4,3.0,house,5,0,1,0,0,0,0,0,1611000

## Remove Redundant Columns (features)

In [26]:
clean_df = df.copy() 
clean_df.drop(columns=["Date" , "Id" , "suburb", "propType" , "sellPrice"], inplace=True)

clean_df

,postalCode,bed,bath,car,suburbs_encoded,pt_duplex/semi-detached,pt_house,pt_other,pt_terrace,pt_townhouse,pt_villa,pt_warehouse,TARGET
0,2107,4.0,2,2.0,22,0,1,0,0,0,0,0,1210000
1,2107,4.0,3,4.0,22,0,1,0,0,0,0,0,2250000
2,2107,3.0,3,2.0,654,0,1,0,0,0,0,0,2920000
3,2107,3.0,1,2.0,22,0,1,0,0,0,0,0,1530000
4,2107,5.0,4,4.0,654,0,1,0,0,0,0,0,8000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199499,2234,5.0,3,7.0,318,0,1,0,0,0,0,0,1900000
199500,2234,4.0,3,2.0,318,0,1,0,0,0,0,0,980000
199501,2234,4.0,2,2.0,5,0,1,0,0,0,0,0,850000
199502,2234,3.0,2,2.0,318,0,0,0,0,1,0,0,640000
199503,2234,5.0,4,3.0,5,0,1,0,0,0,0,0,1611000

# Check for NaN or Inf Values

In [27]:
# Check for Null & Inf
is_null = clean_df.isnull().values.any()
is_inf = clean_df.isin([np.inf,-np.inf]).values.any()

print(f"{is_null =  }")
print(f"{is_inf  =  }")

is_null =  True
is_inf  =  False

In [28]:
# Fill NaN variables
clean_df = clean_df.fillna(clean_df.mean())
clean_df.isnull().values.any()

False

# Min Max Scaling
- In other words. Feature Scaling

In [29]:
df_scaling = clean_df.copy()
mms = MinMaxScaler()
df_scaling[df_scaling.columns]= mms.fit_transform(df_scaling)

df_scaling.head()

,postalCode,bed,bath,car,suburbs_encoded,pt_duplex/semi-detached,pt_house,pt_other,pt_terrace,pt_townhouse,pt_villa,pt_warehouse,TARGET
0,0.037179,0.030612,0.010204,0.025,0.032164,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000563
1,0.037179,0.030612,0.020408,0.075,0.032164,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.001048
2,0.037179,0.020408,0.020408,0.025,0.956140,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.001360
3,0.037179,0.020408,0.000000,0.025,0.032164,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000712
4,0.037179,0.040816,0.030612,0.075,0.956140,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.003725

# Train Test Split

In [30]:
is_deep_learning = False
df_tts = df_scaling.copy() if is_deep_learning else clean_df.copy()

df_tts

,postalCode,bed,bath,car,suburbs_encoded,pt_duplex/semi-detached,pt_house,pt_other,pt_terrace,pt_townhouse,pt_villa,pt_warehouse,TARGET
0,2107,4.0,2,2.0,22,0,1,0,0,0,0,0,1210000
1,2107,4.0,3,4.0,22,0,1,0,0,0,0,0,2250000
2,2107,3.0,3,2.0,654,0,1,0,0,0,0,0,2920000
3,2107,3.0,1,2.0,22,0,1,0,0,0,0,0,1530000
4,2107,5.0,4,4.0,654,0,1,0,0,0,0,0,8000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199499,2234,5.0,3,7.0,318,0,1,0,0,0,0,0,1900000
199500,2234,4.0,3,2.0,318,0,1,0,0,0,0,0,980000
199501,2234,4.0,2,2.0,5,0,1,0,0,0,0,0,850000
199502,2234,3.0,2,2.0,318,0,0,0,0,1,0,0,640000
199503,2234,5.0,4,3.0,5,0,1,0,0,0,0,0,1611000

# X is all the data ML Algo is working with
# Y is the data we are trying to predict

In [31]:
# Split X & Y data
X_data = df_tts.iloc[:, : -1].values
y_data = df_tts.iloc[:,  -1].values

print(f"X first value: \n{X_data[0]}")
print(f"y first value: \n{y_data[0]}")

X first value:
[2.107e+03 4.000e+00 2.000e+00 2.000e+00 2.200e+01 0.000e+00 1.000e+00
 0.000e+00 0.000e+00 0.000e+00 0.000e+00 0.000e+00]
y first value:
1210000

In [36]:
# Train Test Split  (test on 10% )
x_train , x_test , y_train , y_test = sk_learn_train_test_split(
    X_data,
    y_data,
    test_size = 0.1,
    random_state = 1,
    shuffle = True
)

print(f"X Train Shape: {x_train.shape}")
print(f"X Test Shape: {x_test.shape}")
print(f"y Train Shape: {y_train.shape}")
print(f"y Test Shape: {y_test.shape}")

X Train Shape: (179553, 12)
X Test Shape: (19951, 12)
y Train Shape: (179553,)
y Test Shape: (19951,)